{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<section class="about-section py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 text-center">À Propos de Nous</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/path/to/alex-photo.jpg" class="img-fluid rounded-circle mb-3" alt="Photo de Alex">
                    </div>
                    <div class="col-md-8">
                        <h3 class="mb-3">Rencontrez Alex, Notre Directeur et Guide Principal</h3>
                        <p class="lead">Originaire de La Ciotat et profondément lié à notre région, Alex incarne la passion pour l'aventure et la nature. Son engagement envers la préservation de l'environnement local est au cœur de chacune de nos activités.</p>
                        <p>Avec plus de 15 ans d'expérience dans l'organisation et la gestion d'activités sportives et de découvertes, Alex est le moteur de notre engagement à offrir des expériences enrichissantes et respectueuses de l'environnement. Sa connaissance experte des calanques spectaculaires et du terroir unique de la Provence lui permet de créer des voyages qui célèbrent la beauté naturelle et culturelle de notre région.</p>
                        <h4 class="mt-4">Qualifications et Expérience</h4>
                        <ul class="list-unstyled">
                            <li><strong>Diplômes et Certifications :</strong> Alex est titulaire d'un diplôme en Tourisme d'Aventure et est certifié en Premiers Secours.</li>
                            <li><strong>Expertise Professionnelle :</strong> Il a dirigé des expéditions à travers les montagnes, les forêts et les littoraux de notre région, offrant des expériences sûres et enrichissantes à des milliers de visiteurs.</li>
                            <li><strong>Connaissance Locale :</strong> Alex connaît chaque sentier, chaque crique cachée et chaque panorama à couper le souffle de La Ciotat, assurant des découvertes authentiques et hors des sentiers battus.</li>
                            <li><strong>Engagement Personnel :</strong> En plus de partager sa passion pour les activités de plein air, Alex s'efforce activement de préserver la biodiversité et la richesse culturelle de notre région, contribuant ainsi à un tourisme durable et responsable.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
