{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<h1>À propos</h1>
<p>Bienvenue sur la page À propos. Ici, vous trouverez des informations sur notre organisation, notre mission et notre équipe.</p>
{% endblock %}
