{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<h1>FAQ</h1>
<p>Bienvenue sur la page des questions fréquemment posées (FAQ). Ici, vous trouverez des réponses aux questions les plus courantes.</p>
{% endblock %}
