{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<p>Bienvenue sur la page des mentions légales. Ici, vous trouverez toutes les informations légales concernant notre site web.</p>
{% endblock %}
