{% extends 'base.html.twig' %}

{% block title %}Hello AnimationController!{% endblock %}

{% block body %}




<section id="animation" class="animation-section">
    <div class="container-fluid text-center mt-3 ">
        <h1 class="mb-5">Animations</h1>
        <div class="row">
            <div 
            class="col-lg-6 mx-auto">
        <p>"Découvrez nos animations palpitantes, telles que les jeux de piste et les chasses au trésor, conçues pour offrir des moments de divertissement et d'aventure en plein air"</p>
        </div>
        </div>
    </div>

    <div class="container-fluid  px-1 py-5">
        
        <div class="row ">
         
            <div class="col-lg-3 mb-3 ">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/chasseauxtresor.jpg" class="card-img-top" alt="Fitness">
                    <div class="card-body ">
                        <h5 class="card-title pb-2">Chasse au trésor</h5>
                        <p class="card-text mb-5">Plongez dans l'aventure avec nos chasses au trésor captivantes, une expérience passionnante pour tous les âges</p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Animations
                    </div>
                </div>
            </div>
            
          
            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/jeuxdepiste.jpg" class="card-img-top" alt="Coordination et Motricité">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Jeux de piste</h5>
                        <p class="card-text mb-4">Découvrez des parcours intrigants et divertissants avec nos jeux de piste, parfaits pour les amateurs de défis et d'aventures en plein air</p>
                        <a href="{{ path('app_reservation') }}"  class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Animations
                    </div>
                </div>
            </div>
            
          
            <div class="col-lg-3 mb-3 ">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/circuit.jpg" class="card-img-top " alt="Circuit Training">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Course d'orientation</h5>
                        <p class="card-text mb-5 ">Participez à des courses d'orientation passionnantes, idéales pour explorer et relever des défis en pleine nature</p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Animations
                    </div>
                </div>
            </div>
            
       
            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/callisthenie.jpg" class="card-img-top" alt="Callisthénie">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Team building et Événement</h5>
                        <p class="card-text mb-4 ">Participez à des activités de team building et organisez des événements inoubliables pour renforcer la cohésion d'équipe et stimuler la collaboration

                        </p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Animations
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

    {% endblock %}


