{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_header %}
    <h1 class=" text-center pb-3">Bienvenue sur votre espace d'administration </h1>
{% endblock %}

{% block main %}
   
{% endblock %}