{% extends 'base.html.twig' %}

{% block title %}Hello DecouverteController!{% endblock %}

{% block body %}



Section Coaching
<section id="decouvertes" class="decouvertes-section">
    <div class="container-fluid text-center mt-3 ">
        <h1 class="mb-5">Découvertes</h1>
        <div class="row ">
            <div class="col-lg-6 mx-auto">
        <p>"Découvrez un monde de nouvelles expériences et aventures, où chaque visite est une invitation à explorer, apprendre et s'émerveiller, tout en repoussant vos limites et en embrassant l'inconnu avec enthousiasme"</p>
        </div>
    </div>
    </div>

    <div class="container-fluid  px-1 py-5">
        
        <div class="row ">
            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/marchenordique.jpg" class="card-img-top" alt="Coordination et Motricité">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Marche Nordique</h5>
                        <p class="card-text mb-5">Découvrez la marche nordique, une activité tonifiante qui allie sport et bien-être, idéale pour explorer de nouveaux horizons tout en prenant soin de votre santé</p>
                        <a href="{{ path('app_reservation') }}"  class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Découvertes
                    </div>
                </div>
            </div>
            
          
            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/kayaking.jpg" class="card-img-top " alt="Circuit Training">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Kayaking</h5>
                        <p class="card-text mb-4 ">Plongez dans l'aventure du kayaking, une activité exaltante qui vous permet de naviguer sur des eaux sereines ou tumultueuses, tout en profitant de paysages magnifiques </p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Découvertes
                    </div>
                </div>
            </div>
            
       
            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/escalade.jpg" class="card-img-top" alt="Callisthénie">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Escalade</h5>
                        <p class="card-text mb-4 ">Découvrez l'escalade, une activité palpitante qui vous permet de grimper des parois naturelles ou artificielles, offrant à la fois un défi physique et une vue imprenable sur les environs</p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Découvertes
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/vtt.jpg" class="card-img-top" alt="Callisthénie">
                    <div class="card-body">
                        <h5 class="card-title pb-2">VTT</h5>
                        <p class="card-text mb-5 ">Explorez le VTT, une activité passionnante qui vous permet de parcourir des sentiers variés à vélo, alliant aventure et plaisir en pleine nature.</p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Découvertes
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

    {% endblock %}

