{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<!-- Section Coaching -->
<section id="coaching" class="coaching-section">
    <div class="container-fluid text-center mt-3">
        <h1 class="mb-5">Coaching</h1>
        <p>"Le coaching personnalisé vous aide à atteindre vos objectifs de fitness,  améliorer votre bien-être général et renforcer votre confiance en vous  grâce à des programmes adaptés à vos besoins et capacités."</p>
    </div>

    <div class="container-fluid  px-5 py-5">
        
        <div class="row ">
         
            <div class="col-lg-3  ">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/fitness.jpg" class="card-img-top" alt="Fitness">
                    <div class="card-body ">
                        <h5 class="card-title pb-2">Fitness</h5>
                        <p class="card-text pb-2">Participez a des séances de fitness qui incluent des exercices de cardio, de renforcement musculaire et de flexibilité pour améliorer ma forme générale.</p>
                        <a href="#" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Coaching poids du corps
                    </div>
                </div>
            </div>
            
          
            <div class="col-lg-3 ">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/coordination.jpg" class="card-img-top" alt="Coordination et Motricité">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Coordination & Motricité</h5>
                        <p class="card-text pb-2">J'aimerais avoir des cours de coordination motricité pour améliorer ma coordination, mon équilibre et ma proprioception.</p>
                        <a href="#" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Coaching poids du corps
                    </div>
                </div>
            </div>
            
          
            <div class="col-lg-3 ">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/circuit.jpg" class="card-img-top " alt="Circuit Training">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Circuit Training</h5>
                        <p class="card-text pb-2 ">Je désire participer à des sessions de circuit training qui combinent différents exercices pour un entraînement complet et efficace.</p>
                        <a href="#" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Coaching poid du Corp
                    </div>
                </div>
            </div>
            
       
            <div class="col-lg-3 ">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/callisthenie.jpg" class="card-img-top" alt="Callisthénie">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Callisthénie</h5>
                        <p class="card-text pb-2 ">Je suis intéressé par des cours de callisthenie, une méthode de renforcement musculaire utilisant le poids du corps.</p>
                        <a href="#" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Coaching poids du corps
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


    {% endblock %}