{% extends 'base.html.twig' %}

{% block title %}Hello BienEtreController!{% endblock %}

{% block body %}



Section Coaching
<section id="bienetre" class="bienetre-section">
    <div class="container-fluid text-center mt-3 ">
        <h1 class="mb-5">Bien-être</h1>
        <p>Explorez de nouvelles passions et découvrez des expériences uniques qui enrichiront votre quotidien.</p>
    </div>

    <div class="container-fluid  px-1 py-5">
        
        <div class="row ">
         
            <div class="col-lg-3  mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/pilates.jpg" class="card-img-top" alt="Fitness">
                    <div class="card-body ">
                        <h5 class="card-title pb-2">Pilates</h5>
                        <p class="card-text pb-2">Participez a des séances de fitness qui incluent des exercices de cardio, de renforcement musculaire et de flexibilité pour améliorer ma forme générale.</p>
                        <a href="{{ path('app_reservation') }}"  class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Bien-être
                    </div>
                </div>
            </div>
            
          
            <div class="col-lg-3 mb-3 ">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/stretching.jpg" class="card-img-top" alt="Coordination et Motricité">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Stretching</h5>
                        <p class="card-text pb-2">J'aimerais avoir des cours de coordination motricité pour améliorer ma coordination, mon équilibre et ma proprioception.</p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Bien-être
                    </div>
                </div>
            </div>
            
          
            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/respiration.jpg" class="card-img-top " alt="Circuit Training">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Respiration</h5>
                        <p class="card-text pb-2 ">Je désire participer à des sessions de circuit training qui combinent différents exercices pour un entraînement complet et efficace.</p>
                        <a href="{{ path('app_reservation') }}"  class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Bien-être
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3">
                <div class="card h-100 w-75 mx-auto border border-2 shadow ">
                    <img src="../images/photos/yoga.jpg" class="card-img-top" alt="Coordination et Motricité">
                    <div class="card-body">
                        <h5 class="card-title pb-2">Yoga</h5>
                        <p class="card-text pb-2">Découvrez le yoga pour cultiver bien-être physique et mental, et atteindre une harmonie intérieure grâce à des pratiques adaptées à tous niveaux</p>
                        <a href="{{ path('app_reservation') }}" class="btn btn-primary text-center mt-5">Réserver</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Bien-être
                    </div>
                </div>
            </div>
            
       
           
        </div>
    </div>
</div>
</section>

    {% endblock %}

